.gf-Fav{
    background: brown;
    border:0;
    border-radius: 80px;
    cursor: pointer;
    transition: all .3s ease;

}
.gf-Fav:hover{
    background:rgba(184, 65, 89, 0.338);
}

.gf-Fav span{
    display:  block;
    width:23px;

}