.imagen img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;

}
.CharacterInd{
    border: dotted;
    border-color: aliceblue;
}
.imagen{
    display:flex;
    flex-direction: column;
    
    border: dotted;
    width: auto;
    border-color: rgb(36, 149, 249);
}
.Quotes{
    display:flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    border: dotted;
    border-color: rgb(33, 209, 69);
}