.form{
    max-width : 320px;
    width:100%;
    display: flex;
    margin-left:auto;
    margin-right: auto;
    flex-direction:column;
    
}
h2{
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.form label {
    display: block;
    margin-bottom: 4px;
}

.form input{
    border:none;
    line-height: 2;
    display: block;
    margin-bottom: 16px;
    margin-top: 10px;

    width: 100%;
}
.form .btn {
    width: 100%;
    background-color: black;
    color: white;
}


